@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply inline-flex text-white bg-head border-0 py-2 px-6 focus:outline-none hover:bg-normal  text-lg mb-5;
  }


  .btn3d-li {
    @apply relative p-[15px] bg-head duration-500 
    hover:bg-normal hover:-translate-x-[-20px] 
    before:absolute before:top-0 before:left-[-20px] before:w-[20px] before:h-full before:bg-head before:brightness-75 before:origin-right before:skew-y-[45deg] before:duration-500
    after:absolute after:top-[-20px] after:left-0 after:w-full after:h-[20px] after:bg-head after:brightness-90 after:origin-bottom after:skew-x-[45deg] after:duration-500
    before:hover:bg-normal before:hover:brightness-75
    after:hover:bg-normal after:hover:brightness-90
    lg:w-[200px] md:w-[100px]
    ;
  }
  .btn3d-a {
    @apply hover:text-white text-center text-white block uppercase tracking-wider	duration-500
  }

}
